.section:not(:first-child) {
  margin-top: 120px;
}
@media (max-width: 1249px) {
  .section:not(:first-child) {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .section:not(:first-child) {
    margin-top: 50px;
  }
}