.widget-call {
  --translate-y: 0;
  position: fixed;
  right: 60px;
  bottom: 95px;
  z-index: 1000;
  -webkit-transform: translateY(var(--translate-y));
  transform: translateY(var(--translate-y));
  display: block;
  width: 80px;
  height: 80px;
  background: var(--accent);
  -webkit-box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/1);
  box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/1);
  border-radius: 50%;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .widget-call {
    --translate-y: calc(55px + 100%);
    right: calc(50% - 24px);
    bottom: 55px;
    width: 48px;
    height: 48px;
  }
}
.widget-call::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_33_6)'%3E%3Cpath d='M11.4281 4.07512C13.3331 5.46345 14.8164 7.35845 16.0831 9.17178L16.8197 10.2451L17.5147 11.2701C17.8624 11.778 18.011 12.396 17.9323 13.0064C17.8537 13.6169 17.5532 14.177 17.0881 14.5801L13.8364 16.9951C13.6793 17.1086 13.5687 17.2752 13.5252 17.464C13.4817 17.6528 13.5082 17.851 13.5997 18.0218C14.3364 19.3601 15.6464 21.3534 17.1464 22.8534C18.6481 24.3534 20.7347 25.7501 22.1664 26.5701C22.3459 26.6709 22.5572 26.699 22.7568 26.6488C22.9565 26.5986 23.1293 26.4738 23.2397 26.3001L25.3564 23.0784C25.7456 22.5615 26.3196 22.2152 26.9584 22.1121C27.5971 22.0089 28.251 22.157 28.7831 22.5251L29.8881 23.2901C31.9531 24.7234 34.1714 26.3518 35.8681 28.5234C36.1372 28.8698 36.3083 29.282 36.3637 29.717C36.4191 30.1521 36.3568 30.5941 36.1831 30.9968C34.7881 34.2518 31.2581 37.0234 27.5864 36.8884L27.0864 36.8601L26.6981 36.8268L26.2681 36.7768L25.7997 36.7134L25.2914 36.6301C25.2024 36.6141 25.1135 36.5974 25.0247 36.5801L24.4647 36.4601C24.3668 36.4386 24.269 36.4164 24.1714 36.3934L23.5614 36.2368L22.9197 36.0534L22.2497 35.8368C19.1731 34.7934 15.2681 32.7434 11.2614 28.7368C7.25642 24.7318 5.20642 20.8268 4.16308 17.7501L3.94642 17.0801L3.76308 16.4384L3.60642 15.8284L3.47642 15.2518C3.43887 15.0712 3.40386 14.89 3.37142 14.7084L3.28808 14.2001L3.22142 13.7318L3.17308 13.3018L3.13975 12.9134L3.11308 12.4134C2.97808 8.75345 5.77975 5.19845 9.01975 3.81012C9.40971 3.64173 9.83675 3.57762 10.259 3.62407C10.6812 3.67053 11.0841 3.82596 11.4281 4.07512ZM24.9864 10.0668L25.1797 10.0884C26.3929 10.3024 27.5072 10.895 28.3629 11.7812C29.2186 12.6675 29.7717 13.8018 29.9431 15.0218C30.0042 15.4437 29.9012 15.8731 29.6554 16.2215C29.4096 16.5698 29.0396 16.8107 28.6216 16.8947C28.2036 16.9786 27.7693 16.8991 27.4081 16.6725C27.0469 16.446 26.7862 16.0896 26.6797 15.6768L26.6414 15.4851C26.5744 15.0069 26.3703 14.5584 26.0538 14.1938C25.7373 13.8291 25.322 13.5639 24.8581 13.4301L24.5997 13.3718C24.1812 13.2976 23.8069 13.0663 23.5533 12.7253C23.2996 12.3842 23.1859 11.9592 23.2352 11.537C23.2846 11.1149 23.4934 10.7275 23.819 10.4543C24.1445 10.181 24.5621 10.0424 24.9864 10.0668ZM24.9997 5.00012C27.6519 5.00012 30.1955 6.05368 32.0708 7.92905C33.9462 9.80441 34.9997 12.3479 34.9997 15.0001C34.9993 15.4249 34.8366 15.8335 34.545 16.1424C34.2534 16.4513 33.8548 16.6372 33.4308 16.6621C33.0067 16.687 32.5891 16.549 32.2634 16.2763C31.9376 16.0037 31.7283 15.6169 31.6781 15.1951L31.6664 15.0001C31.667 13.3075 31.0235 11.678 29.8664 10.4427C28.7093 9.20727 27.1255 8.45852 25.4364 8.34845L24.9997 8.33345C24.5577 8.33345 24.1338 8.15785 23.8212 7.84529C23.5087 7.53273 23.3331 7.10881 23.3331 6.66678C23.3331 6.22475 23.5087 5.80083 23.8212 5.48827C24.1338 5.17571 24.5577 5.00012 24.9997 5.00012Z' fill='%23232323'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_33_6'%3E%3Crect width='40' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 767px) {
  .widget-call::before {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 767px) {
  .widget-call:not(.active) {
    -webkit-animation: none;
    animation: none;
  }
}
@media (max-width: 767px) {
  .widget-call.active {
    --translate-y: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/0.7);
    box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgb(var(--accent-rgb)/0);
    box-shadow: 0 0 0 20px rgb(var(--accent-rgb)/0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/0);
    box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/0.7);
    box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgb(var(--accent-rgb)/0);
    box-shadow: 0 0 0 20px rgb(var(--accent-rgb)/0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/0);
    box-shadow: 0 0 0 0 rgb(var(--accent-rgb)/0);
  }
}